# Dependencies
node_modules

# Next.js
.next
out

# Environment files
.env
.env*.local

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store

# Logs
*.log
npm-debug.log*
node_modules

# Demo scripts
demo-script.md

# Markdown files (except README.md)
*.md
!README.md

# Comparison repository 
/comparison-swap

# Marketing and old drafts
/marketing
/old article drafts
